.sidebar_dashboard{
    
    -fx-background-color: #353a56;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius:0px 15px 15px 0px;
    -fx-background-radius: 0px 15px 15px 0px;
    -fx-border-style:solid;
    
    
}


.dashboard_button{
    
    -fx-background-color: #252730;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius:15px;
    -fx-background-radius: 15px;
    -fx-border-style:solid;
    -fx-border-color: #10182e;
    
    
}

.vbox_dashboard{
    
    -fx-background-color: #d1d4e3;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius:15px 0px 0px 15px;
    -fx-background-radius: 15px 0px 0px 15px;
    -fx-border-style:solid;
    
    
}