.add_delete_anchorPane{
   
    
    -fx-background-color:  #f5eded;
    -fx-border-width: 1px 1px 1px 1px;
 
    -fx-border-style:solid;
    
    
}

.text_Field{
    -fx-background-color:transparent;
    -fx-border-color:#DEDEE4;
    -fx-border-width:0px 0px 1px 0px;
}

.tf{
   -fx-background-color:transparent;
}

.Button{
    -fx-background-color:#b77a76;
    -fx-text-file:WHITE;
    -fx-background-radius:12 12 12 12;
}

.toggle_buttons{
   
      -fx-border-color:#b77a76;
    -fx-border-radius:7px;
    -fx-background-radius:7 7 7 7;
}
